<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <table border="1">
        <thead>
            <tr>
                <td>注册号</td>
                <!-- <td>姓名</td>
                <td>年龄</td>
                <td>性别</td>
                <td>年纪</td> -->
            </tr>
        </thead>
        <tbody>
            {% for air in data %}
            <tr>
                <td>{{ air.flight_num }}</td>
                <!-- <td>{{ air.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.grade }}</td> -->
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <script>

    </script>
</body>

</html>